/**********
 * Anton *
 **********/
@font-face {
    font-family: 'Anton';
    src: url("../fonts/Anton-Regular.ttf");
}

/*************
 * OPEN SANS *
 *************/
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Regular.ttf");
}
// Bold
@font-face {
    font-family: 'Open Sans Bold';
    src: url("../fonts/OpenSans-Bold.ttf");
}
// Extra Bold
@font-face {
    font-family: 'Open Sans Extra';
    src: url("../fonts/OpenSans-ExtraBold.ttf");
}