/**********
 * COLORS *
 **********/
$c-black: #353535;
$c-blue: #0085DC;
$c-gray: #EAEAEA;
$c-green: #B8E986;
$c-orange: #FF8600;
$c-white: #FFF;
/*********
 * FONTS *
 *********/
$f-title: 'Anton', sans-serif;
$f-text: 'Open Sans', sans-serif;
$f-bold: 'Open Sans Bold', sans-serif;
$f-extra: 'Open Sans Extra', sans-serif;