.main-content{
	padding-top: 100px;
	.breadcrumb{
		background: rgba($c-gray, .25);
		border: 2px dashed rgba($c-black, .25);
		justify-content: center;
		margin-bottom: 50px;
		li{
			color: rgba($c-black, .5);
			a{
				color: $c-blue;
			}
		}
	}
	.ad-container{
		background: $c-orange;
		background-position: center center !important;
		background-size: contain !important;
		height: 150px;
	}
	.fake-title{
		color: rgba($c-black, .75);
		font-family: $f-text;
		font-size: 28px;
		letter-spacing: 2px;
		margin: 0 0 25px 0;
		text-align: center;
	}
	.square-container{
		background: rgba($c-black, .05);
		background-size: cover !important;
		border: 5px solid $c-gray;
		box-shadow: 0 20px 10px -10px rgba($c-black, .10);
		height: 300px;
		margin-bottom: 25px;
		position: relative;
		&.event{
			height: 400px;
		}
		&.map{
			height: 500px;
		}
		&.videos, &.vacantes{
			height: 500px;
		}
		.arrow{
			@include position-select(0, 50%);
			@include flex-container();
			background: $c-gray;
			cursor: pointer;
			height: 68px;
			transform: translate(0, -50%);
			transition: all .25s cubic-bezier(.87,-.41,.19,1.44);
			width: 46px;
			z-index: 2;
			svg{
				transition: all .25s cubic-bezier(.87,-.41,.19,1.44);
			}
			&.arrow-right{
				left: auto;
				right: 0;
			}
			&:hover{
				background: darken($c-gray, 10%);
				width: 56px;
				svg{
					opacity: .5;
				}
			}
		}
		.square-title{
			@include position-select(0, 30px);
			@include flex-container();
			background: $c-gray;
			box-shadow: 0 20px 10px -10px rgba($c-black, .10);
			font-family: $f-bold;
			font-size: 16px;
			height: 40px;
			text-align: center;
			width: 240px;
			z-index: 2;
			span{
				font-family: $f-text;
				font-size: 14px;
				margin-left: 10px;
				opacity: .5;
			}
		}
		.swiper-pagination{
			.swiper-pagination-bullet{
				background: $c-gray;
			}
		}
		.swiper-wrapper{
			.swiper-slide{
				background-size: cover !important;
				position: relative;
				h3{
					@include position-select(0, 45px, absolute, true, false);
					color: $c-white;
					font-family: $f-bold;
					font-size: 20px;
					margin: 0;
					padding: 0 42px;
					width: 100%;
					z-index: 1;
					&:hover{
						text-decoration: underline;
					}
				}
				.slide-gradient{
					@include position-select(0, 0, absolute, true, false);
					background: linear-gradient(to bottom, transparent, rgba($c-black, .75));
					height: 100%;
					width: 100%;
					z-index: 0;
				}
			}
		}
		&.vacantes{
			background: rgba($c-black, .07);
			overflow-y: scroll;
			padding: 80px 0 30px 0;
			.vacante{
				border-bottom: 1px solid rgba($c-black, .25);
				margin: 0 auto;
				padding: 25px 0 20px;
				width: 90%;
				&:last-child{
					border-bottom: none;
				}
				.vacante-header{
					@include flex-container(center, row, flex-start);
					margin: 0;
					h3{
						font-family: $f-bold;
						font-size: 18px;
						margin: 0;
					}
					span{
						@include flex-container();
						background: $c-green;
						border-radius: 10px;
						color: $c-black;
						font-size: 10px;
						height: 20px;
						margin: 0;
						margin-left: 10px;
						padding: 0 10px;
					}
				}
				.vacante-date{
					opacity: .75;
					margin: 0;
					margin-bottom: 5px;
					p{
						font-size: 10px;
						margin: 0;
					}
				}
				.vacante-contact{
					a{
						color: $c-blue;
						font-size: 13px;
						margin: 0 20px 0 0;
					}
					p{
						font-size: 12px;
						font-family: $f-extra;
						margin: 0;
					}
				}
				.vacante-description{
					font-size: 16px;
					margin: 10px 0;
				}
				.vacante-place{
					@include flex-container(center, row, flex-start);
					margin: 0;
					.first, .second{
						@include flex-container(center, row, flex-start);
						margin:0;
						p{
							font-size: 12px;
							margin: 0;
						}
						svg{
							height: 20px;
							margin-right: 10px;
							width: auto;
						}
					}
					.second{
						margin-left: 10px;
					}
				}
			}
		}
		&.videos{
			h3{
				text-decoration: none !important;
			}
			.square-play{
				@include position-select(50%, 50%);
				pointer-events: none;
				transform: translate(-50%, -50%);
				z-index: 2;
				svg{
					height: 100px;
					width: auto;
				}
			}
		}
	}
}