.main-header{
	@include flex-container(center, row, center, nowrap);
	background: $c-gray;
	background-position: center center !important;
	background-size: cover !important;
	height: 60vh;
	position: relative;
	h1, p{
		text-align: center;
	}
	h1{
		font-family: $f-title;
		font-size: 40px;
		margin-bottom: 10px;
	}
	.gradient{
		@include position-select(0,0);
		background: rgba($c-gray, .75);
		height: 100%;
		width: 100%;
		z-index: 0;
	}
	.floating-image{
		@include position-select(0, 0, absolute, true, false);
		background-position: center center !important;
		background-size: cover !important;
		height: 100%;
		pointer-events: none;
		width: 100%;
		z-index: 0;
	}
	.navigation-space{
		@include position-select(50%, 0, absolute, true, false);
		height: 100px;
		transform: translate(-50%, 50%);
		width: 100vw;
		z-index: 1;
		.container{
			max-height: 100px;
			.row{
				height: 100px;
			}
		}
		ul{
			@include flex-container(flex-start, row, center, wrap);
			height: 100%;
			list-style-type: none;
			padding: 0;
			li{
				background: $c-blue;
				box-shadow: 0 10px 10px 0 rgba($c-black, .2);
				height: 100%;
				margin: 0 10px 0 0;
				transition: all .25s cubic-bezier(.87,-.41,.19,1.44);
				width: 220px;
				&:last-child{
					margin: 0;
				}
				a{
					@include flex-container(center, row, center);
					color: $c-white;
					font-family: $f-extra;
					font-size: 20px;
					height:100%;
					letter-spacing: 1px;
					line-height: 1.3;
					padding: 22px;
					text-align: center;
					text-decoration: none;
					text-transform: uppercase;
					transition: all .25s cubic-bezier(.87,-.41,.19,1.44);
					width: 100%;
				}
				&:hover, &.current-menu-item{
					background: darken($c-blue, 5%);
					box-shadow: none;
					transform:translateY(10px);
					a{
						color: darken($c-blue, 25%);
					}
				}
			}
			&#menu-main-menu{
				li{
					width: 200px;
				}
			}
		}
	}
	&.not-front{
		height: 40vh;
	}
}